body {
    margin: 10px;
}
h2 {
    margin-left: 10px;
}

.following {
    margin-left: 10px;
}

.postbox {
    border: 1px solid lightgrey;
    margin: 10px;
    padding: 10px;
}

.postauthor {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

.postdate, .likes {
    color: grey;
}
