{% extends 'inventory/layout.html' %}
{% load static %}


{% block title %}
    Create A New Customer
{% endblock %}

{% block body %}
    {% if edit %}
        <h2>Edit Customer</h2>
    {% else %}
        <h2>Create A New Customer</h2>
    {% endif %}
    <form method="post">
        {% include 'inventory/customer_form_template.html' %}

        <a class="btn btn-primary btn-sm" href="{% url 'list_customer' %}">Cancel</a>
        <input class="btn btn-primary btn-sm" type="submit" value="Save">
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'inventory/inventory.js' %}"></script>   
{% endblock %}