<nav aria-label="pagination">
    <ul class="pagination pagination-sm justify-content-end">
        <span class="d-flex align-items-center me-2">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% elif i <= page_obj.number|add:'1' and i >= page_obj.number|add:'-1' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>