{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ heading }}</h2>
    {% if user.is_authenticated and heading == "All Posts" %}
        <div class="postbox">
            <h5>New Post</h5>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea type="text" class="form-control" name="content"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-sm btn-primary" value="Post">
                </div>
            </form>
        </div>
    {% endif %}

    <div class="posts">
        {% for post in page_obj %}
            <div class="postbox">
                <div class="postauthor"><a href="{% url 'profile' post.author.id %}">{{ post.author.username }}</a></div>
                <div>{{ post.content }}</div>
                <div class="postdate">{{ post.timestamp }}</div>
                <div class="likes">&#10084;&#65039; {{post.num_likes}}</div>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                {% if page_obj %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                {% else %}
                    <span class="current">No posts</span>
                {% endif %}
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}