{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ username | capfirst }}'s Profile</h2>
    <div>
        xx Followers oo Following
    </div>

    {% if user.username != username and user.is_authenticated %}
        Follow Unfollow
    {% endif %}

    <h2>Posts</h2>
    <div class="posts">
        {% for post in posts %}
            <div class="postbox">
                <div class="postauthor">{{ post.author.username }}</div>
                <div>{{ post.content }}</div>
                <div class="postdate">{{ post.timestamp }}</div>
                <div class="likes">&#10084;&#65039; {{post.num_likes}}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}