{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2>
        {% if user.username == profile.username %}
            Your Profile
        {% else %}
            {{ profile.username | capfirst }}'s Profile
        {% endif %}
    </h2>
    <div class="following">
        <p>
            {% if num_followers %}
                {{ num_followers }} 
            {% else %}
                0
            {% endif %}
                Followers
            {% if num_following %}
                {{ num_following }}
            {% else %}
                0
            {% endif %}
                Following
        </p>
    </div>

    {% if user.username != profile.username and user.is_authenticated %}
        <div class="follow" id="follow">
            <input type="hidden" id="id" value="{{ profile.id }}">
        </div>
    {% endif %}

    <h2>Posts</h2>
    {% include 'network/posts.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}