{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ username | capfirst }}'s Profile</h2>
    <div class="following">
        <p>
            {% if num_followers %}
                {{ num_followers }} 
            {% else %}
                0
            {% endif %}
                Followers
            {% if num_following %}
                {{ num_following }}
            {% else %}
                0
            {% endif %}
                Following
        </p>
    </div>

    {% if user.username != username and user.is_authenticated %}
        <div class="follow">
            {% if is_following %}
                <button id="unfollow" class="btn btn-sm btn-primary">Unfollow</button>
            {% else %}
                <button id="follow" class="btn btn-sm btn-primary">Follow</button>
            {% endif %}
        </div>
    {% endif %}

    <h2>Posts</h2>
    <div class="posts">
        {% for post in posts %}
            <div class="postbox">
                <div class="postauthor">{{ post.author.username }}</div>
                <div>{{ post.content }}</div>
                <div class="postdate">{{ post.timestamp }}</div>
                <div class="likes">&#10084;&#65039; {{post.num_likes}}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}