textarea {
    min-height: 400px;
}
.email-item {
    border: 1px solid black;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
}

.email-item div {
    flex: 1 1 auto;
    padding-left: 5px;
    overflow: hidden;
}

.address {
    font-weight: bold;
}

.subject {
    width: 50%;
}

.timestamp {
    display: flex;
    justify-content: flex-end;
    color: grey;
    padding-right: 5px;
}